@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

$font: 'Poppins', sans-serif;
$font-2: 'Inter', sans-serif;

$primary-color: #160845;
$secondary-color: #5028a6;
$pink: #df63a7;
$light-blue: #d3e3fd;
$white: #fff;
$black: #000;
$light-bg: #eef5f1;
$text-color: #333333;
$btn-color: #26C943;
$content-bg: #FFF0FB;
$section-bg: #F7F7FF;
$title-color: #353535;
$light-secondary: #cac2dd;
$footer-bg: #cac2db;
$default-gradient: linear-gradient(90deg, rgba(22,8,69,1) 0%, rgba(80,40,166,1) 68%, rgba(223,99,167,1) 100%);
$reverse-gradient: transparent linear-gradient(90deg, $pink 0%, $secondary-color 70%, rgba(22,8,69,1) 100%) 0% 0% no-repeat padding-box;
$btn-gradient: linear-gradient(90deg, rgb(22, 8, 69) 0%, rgb(80, 40, 166) 100%);

$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 600;
$font-black: 700;

$box-shadow-1: 0px 10px 35px 0px rgba(0, 0, 0, 0.07);
$box-shadow-2: 0px 8px 12px 2px rgba(0, 0, 0, 0.15);
$header-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);

p{font-family: $font-2,}

@mixin primary-btn{
    background: $default-gradient;
    padding: 10px 15px 10px 30px !important;
    color: #fff;
    border-radius: 12px !important;
    width: 180px;
    float: left;
    position: relative;
    font-size: 18px;
    text-decoration: none;
    border: 0 !important;
    transition: all 0.3s ease-out 0s;

    i{
        width: 37px;
        height: 37px;
        line-height: 40px;
        background: #ffffff17 0% 0% no-repeat padding-box;
        position: absolute;
        right: 4px;
        top: 4px;
        border-radius: 12px;
        text-align: center;
    }

    &:hover{
        background: $reverse-gradient;
        transition: all 0.3s ease-out 0s;
    }
}

@mixin white-btn{
    background-color: $white;
    padding: 10px 15px 10px 30px;
    color: $primary-color;
    border-radius: 30px;
    width: 200px;
    float: left;
    font-weight: $font-medium;
    font-family: $font-2;
    text-decoration: none;
    font-size: 22px;
    box-shadow: 3px 5px 8px $secondary-color;
    i{
     margin-left: 5px;
     }
}

@mixin submit-btn{
    border: 0;
    width: 280px;
    margin-left: 20px;
    span{
       float: left;
    }
}

@mixin title{
    span{
        font-size: 20px;
        font-family: $font-2;
        font-weight: $font-medium;
        color: $secondary-color;
        letter-spacing: 2px;
        display: inline-block;
        margin-bottom: 20px;
        position: relative;
        padding: 10px 0 10px 20px;
        &::before{
            content: "";
            width: 50%;
            height: 100%;
            background: #b1abab;
            position: absolute;
            background: $secondary-color;
            opacity: 0.2;
            left: 0;
            top: 0;
        }
    }
    h6{
        font-size: 40px;
        font-weight: $font-bold;
        color: $primary-color;
        font-family: $font;
        margin-bottom: 20px;
    }
    p{
        color: #353535;
        font-size: 16px;
        font-family: $font-2;
        margin-bottom: 30px;
    }

    @media screen and (max-width: 767px) {
        h6{
            font-size: 25px;
        }  span{
            font-size: 18px;
        }
    }
}

@mixin card{
    position: relative;
    margin: 15px 0;
    position: relative;
    padding: 40px;
    border: 0;
    border-radius: 20px;
    font-family: $font-2;

    h5, h6{
        color: $primary-color;
        font-size: 22px;
        font-weight: $font-bold;
    }

    p{
        margin: auto 0;
        font-size: 17px;
    }

    .image-wrapper{
        border-radius: 100%;
        box-shadow: 3px 4px 15px #00000026;
        width: 100px;
        height: 100px;
        aspect-ratio: 1 / 1;
        img{
            width: 60px;
        }
    }
}