@import '../styles/variable';
@import '../styles/style.scss';

.title{
    @include title;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.hospital-about{
    padding: 40px 0;
}

.hospital-location{
    padding-bottom: 60px;
}

.card{
    border: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    font-family: $font;
    margin: 10px 0;

    .content{
        h5{
            font-size: 20px;
            font-weight: $font-bold;
            color: $primary-color;
            line-height: 1.25;
            text-transform: capitalize;
        }
        h6{
            font-size: 19px;
        }
        span{
            font-size: 16px;
        }
    }
}
